{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Статистика рассылок</h2>
            <p>Количество рассылок всего: {{ total_mailings }}</p>
            <p>Количество активных рассылок: {{ active_mailings }}</p>
            <p>Количество уникальных клиентов для рассылок: {{ unique_clients }}</p>
        </div>
        <div class="col-md-6">
            <h2>Случайные статьи из блога</h2>
            <ul>
                {% for article in articles %}
                <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <a href="{% url 'mailing:mailing_list' %}" class="btn btn-primary btn-lg mt-3">Список рассылок</a>
                <a href="{% url 'mailing:message_list' %}" class="btn btn-primary btn-lg mt-3">Список сообщений</a>
                <a href="{% url 'mailing:client_list' %}" class="btn btn-primary btn-lg mt-3">Список клиентов</a>
                <a href="{% url 'mailing:mailing_log_list' %}" class="btn btn-primary btn-lg mt-3">Логи</a>
                {% if request.user.is_staff %}
                <a href="{% url 'users:users_list' %}" class="btn btn-primary btn-lg mt-3">Список пользователей</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}