{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <h2>Логи рассылки</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Рассылка</th>
                <th>Клиент</th>
                <th>Дата и время попытки</th>
                <th>Статус попытки</th>
                <th>Ответ сервера</th>
            </tr>
        </thead>
        <tbody>
            {% for log in object_list %}
            <tr>
                <td>{{ log.mailing.title }}</td>
                <td>{{ log.client.client_email }}</td>
                <td>{{ log.attempt_time }}</td>
                <td>{{ log.status }}</td>
                <td>{{ log.server_response }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}