{% extends 'mailing/base.html' %}

{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">
                Добавление рассылки
                <p>Email пользователя: {{ request.user.email }}</p>
            </h3>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form.title.label_tag }}
                        {{ form.title }}
                    </div>
                    <div class="col-md-6">
                        {{ form.start_time.label_tag }}
                        {{ form.start_time }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.start_date.label_tag }}
                        {{ form.start_date }}
                    </div>
                    <div class="col-md-6">
                        {{ form.end_date.label_tag }}
                        {{ form.end_date }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form.frequency.label_tag }}
                        {{ form.frequency }}
                    </div>
                    <div class="col-md-6">
                        {{ form.status.label_tag }}
                        {{ form.status }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.message.label_tag }}
                        {{ form.message }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form.clients.label_tag }}
                        {{ form.clients }}
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Сохранить</button>
                <a href="{% url 'mailing:mailing_list' %}" class="btn btn-secondary">Назад к рассылкам</a>
            </form>
        </div>
        <div class="card-footer"></div>
    </div>
</div>
{% endblock %}